<!DOCTYPE html>
<html>
<head>
  <%= render "shared/head" %>
</head>
<body>
  <%= render "shared/header" %>
  <%= render "shared/left_panel" %>
  <%= render "shared/main_panel" %>
  <!-- %= render "shared/footer" % -->
</body>
</html>
