<%= breadcrumbs([t("auditlog.search_audit")], 'fa-fw fa fa-list') -%>

<div id="myTabContent1" class="tab-content padding-10">
	<div class="tab-pane fade in active" id="audit_log_content">
    <%= render "audit_logs/search_form" %>
    
    <div id="audit_logs_result">
      
    </div>
  </div>
</div>

<%= render partial: "shared/nav_setup", locals: { tab_to_activate: "search_audit_logs" } %>
