
                    <section>
                      <label class="label"><%=t("general.start_time") %></label> 
                      <label class="input"> <i class="icon-append fa fa-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                        <input class="form-control" name="start_time" id="datetimepicker" type="text" value='<%=format_time(start_time_default_value)%>'>
                      </label>
                    </section>
                    
                    <script type="text/javascript">
                      $(function() {
                        $('#datetimepicker').datetimepicker({
                          useSeconds: true,
                          format: "YYYY-MM-DD HH:mm:ss"
                        });
                      });
                    </script>
