    <!-- ap_page_footer -->
		<div class="page-footer">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<span class="txt-color-white">Admin Portal [<%= Rails.env%>]</span>
				</div>
			</div>
		</div>
		<!-- end ap_page_footer -->
