<div class="divMessageBox animated fadeOut fast" id="pop_up_dialog" style=" display: none;">
  <div class="ui-dialog" id="pop_up_ui_dialog" style="width: 600px; top: 50%; left: 50%; margin-top: -75px; margin-left: -300px;">
    <div id="pop_up_content" style="height: 60%; vertical-align: middle; padding: 20px; padding-bottom: 0px;" align="center">
    </div>
    <div id="pop_up_confirm_btn" align="center" style="margin-top: 10px; margin-bottom: 20px;">
      <table>
        <tr>
          <td><button id="cancel" class="btn btn-default"><%= t("general.cancel") %></button></td>
          <td width='20%'></td>
          <td><button id="confirm" class="btn btn-primary"><%= t("general.confirm") %></button></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<%= javascript_include_tag "popup.panel.js" %>
