<%= breadcrumbs([ t("domain_ldap.list"), t("domain_ldap.edit") ], 'fa fa-lg fa-fw fa-edit') -%>
<div class="tab-content padding-10">
  <div class="tab-pane fade in active">
  	<%= render :partial => "domains/form" %>
  </div>
</div>
