<table class="table table-condensed">
            <thead>
              <tr>
                <th class="col-md-1">Propagation ID</th>
                <th class="col-md-1">Action</th>
                <th class="col-md-2">Status</th>
                <th class="col-md-2">Created at</th>
                <th class="col-md-2">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>123456</td>
                <td>activate</td>
                <td>
                  Propagated</br>
                  2014-08-31 12:00:15
                </td>
                <td>propagated@2014-08-31 12:00:00</td>
                <td></td>
              </tr>
            </tbody>
          </table>
