<!-- In the callback, you would hide the gSignInWrapper element on a
  successful sign in -->
<div id="gSignInWrapper">
  <span class="label">Sign in with:</span>
  <div id="customBtn" class="customGPlusSignIn">
    <span class="icon"></span>
    <span class="buttonText">Google</span>
  </div>
</div>
<div><span id="error_msg"></span></div>
<%= hidden_field_tag 'app_name', @app_name %>

<script type="text/javascript">
  $(document).ready(function() {
    var googleUser = {};
    var startApp = function() {
      gapi.load('auth2', function(){
        // Retrieve the singleton for the GoogleAuth library and set up the client.
        auth2 = gapi.auth2.init({
          client_id: '<%= @g_clien_id %>',
          // cookiepolicy: 'single_host_origin',
          cookiepolicy: 'none'
          // Request scopes in addition to 'profile' and 'email'
          // scope: 'custom'
        });
        attachSignin(document.getElementById('customBtn'));
      });
    };

    function attachSignin(element) {
      auth2.attachClickHandler(element, {},
        function(googleUser) {
          var profile = googleUser.getBasicProfile();
          // var currentUser = auth2.currentUser.get();
          console.log(profile)
          // console.log(googleUser.getGrantedScopes())
          // var id_token = googleUser.getAuthResponse().id_token;
          // var access_token = gapi.auth2.getAuthInstance().currentUser.get().getAuthResponse(true).access_token

          signOutGoogle(profile);
          // loginSSO(profile, access_token)
        }, function(error) {
          console.log(JSON.stringify(error, undefined, 2));
        }
      );
    }

    function signOutGoogle(profile) {
      console.log('sign out...............')
      var accessToken = gapi.auth.getToken().access_token;
      console.log(accessToken)
      if (accessToken) {
        // make http get request towards: 'https://accounts.google.com/o/oauth2/revoke?token=' + accessToken
        // In angular you can do it like this:
        $.ajax({
          method: 'GET',
          url: 'https://accounts.google.com/o/oauth2/revoke?token=' + accessToken
        }).done(function(rst) {
          console.log('------------')
          loginSSO(profile)
        });

      //   $.ajax({
      //     method: 'GET',
      //     headers: {'Access-Control-Allow-Origin': '*'},
      //     url: 'https://accounts.google.com/Logout?token=' + accessToken
      //   }).done(function(rst) {
      //     console.log('------------')
      //     loginSSO(profile)
      //   });
      }


      // var auth2 = gapi.auth2.getAuthInstance();
      // auth2.signOut().then(function () {
      //   console.log('User signed out.');
      // });
      // window.location = "https://mail.google.com/mail/u/0/?logout&hl=en?continue=http://localhost:3000/home";
      // $.ajax({
      //   url: "https://www.google.com/accounts/Logout",
      //   type: 'get'
      // }).done(function(rst) {
      //   console.log('------------')
      //   loginSSO(profile)
      // });
      // document.location.href = "https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=http://localhost:3000/home"
      // auth2.disconnect();
      // loginSSO(profile);
    }

    function loginSSO(profile) {
      $.ajax({
        url: "/gapi/login",
        type: 'POST',
        dataType: 'json',
        data: {username: profile.getEmail(), app_name: '<%= @app_name %>'}
      }).done(function(rst) {
        console.log(rst)
        if(rst.error_code == 'OK'){
          window.location.href = rst.callback_url;
        }else{
          $('#error_msg').html(rst.error_msg)
        }
      });
    }

    startApp();
  });
</script>

<style type="text/css">
  #customBtn {
    display: inline-block;
    background: white;
    color: #444;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
  }
  #customBtn:hover {
    cursor: pointer;
  }
  span.label {
    font-family: serif;
    font-weight: normal;
  }
  span.icon {
    background-image: url('../../assets/images/rails.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
  }
  span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
  }
</style>
