<!-- Breadcrumbs -->
  <div class="row">
    <div id="breadcrumbs" class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
      <h2 class="page-title txt-color-blueDark">
        <i class="fa-fw fa fa-list"></i>
        <%= t("user.list_users") %>
      </h2>
    </div>
  </div>
<!-- end Breadcrumbs --> 

<!-- pannel -->
  <section id="widget-grid" class="">
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
          <div>
            <div class="widget-body">
              <div id="inactived_system_user" class="table-responsive">
                <%= render :partial => "system_users/system_user_table" %>
              </div>
            </div>
          </div>
      </article>
    </div>
  </section>
<!-- pannel -->

        
<%= render "shared/page_setup" %>
<%= render partial: "shared/nav_setup", locals: { tab_to_activate: "list_system_users" } %>
