<h1><%= t("role.role") %></h1>

<% @apps.each do |app| %>

<%= app.name %>
  <% app.roles.each do |role| %>
  <%= role.name %>
    <% role.permissions.each do |p| %>
      <%= p.name %>
    <% end %>
    <br><br/>
  <% end %>
  <br><br/>
<% end %>
