                    <td colspan="9" class="hiddenRow" style="padding:0">
                      <div class="accordian-body collapse col-md-12 col-md-offset-0" id="demo1">
                        <table class="table table-hover1">
                          <thead>
                            <tr>
                              <th class="col-md-2">Propagation ID</th>
                              <th>Action</th>
                              <th>Status</th>
                              <th>Time Stamp</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Row 1</td>
                              <td>Row 2</td>
                              <td>Row 3</td>
                              <td>Row 4</td>
                            </tr>
                            <tr>
                              <td>Row 1</td>
                              <td>Row 2</td>
                              <td>Row 3</td>
                              <td>Row 4</td>
                            </tr>
                          </tbody>
                        </table>
                      </div> 
                    </td>