<%= breadcrumbs([t("login_history.list")], 'fa-fw fa fa-history') -%>

<div id="myTabContent1" class="tab-content padding-10">
	<div class="tab-pane fade in active" id="login_history_content">
    <%= render "login_histories/search_form" %>
    <div id="login_histories_result">
    </div>
  </div>
</div>

<%= render partial: "shared/nav_setup", locals: { tab_to_activate: "list_login_histories" } %>
